.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.navSet {
  width: 450px;
  display: flex;
  justify-content: space-between;
  padding-right: 85px;
}

.nav-link {
  padding: 10px;
  color: black;
  text-decoration: none;
}
